/* Base styles for common elements */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background: #333;
    color: #fff;
    padding: 1rem 1rem;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0; /* Ensure it is at the top */
    left: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 0.3rem; /* Reduced font size */
    font-weight: bold;
}

.hamburger {
    display: none;
}

.menu {
    display: flex;
}

.menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-list-items {
    margin: 0 1rem;
}

.links {
    color: #fff;
    text-decoration: none;
}

/* Responsive styles for mobile devices */
@media screen and (max-width: 576px) {
    .header {
        padding: 0.5rem 1rem;
    }

    .logo {
        font-size: 0.3rem; /* Reduced font size */
        padding: 0 1rem;
        text-align: left;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
    }

    .menu .menu-list {
        flex-direction: column;
        align-items: center;
    }

    .menu-list-items {
        margin: 1rem 0;
    }

    .hamburger {
        display: block;
        padding: 0 1rem;
    }

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        background-image: radial-gradient(circle, rgba(15, 14, 14, 0.3), rgba(102, 96, 96, 0.4), rgba(163, 160, 160, 0.16)), url('Assets/image1.jfif');
        background-size: cover;
        background-position: center;
        height: 100vh; /* Full height */
        padding: 2rem 1rem;
        box-sizing: border-box;
        margin-top: 60px; /* To avoid overlapping with the header */
    }

    .sub-heading {
        color: #fff9f9cc;
    }

    .hero .intro-buttons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .btn {
        padding: 10px 20px;
        font-size: 1rem;
    }

    .about,
    .experience-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    .about .about-text,
    .about .about-image img,
    .experience-item {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }

    .about .about-text,
    .experience-item {
        text-align: center;
    }

    .projects-content {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 2rem;
    }

    .projects-content .my-col {
        flex: 1 1 100%; /* Adjust to ensure one item per row */
        box-sizing: border-box;
    }

    .projects-content .my-card {
        background-color: #528a54;
        color: white;
        padding: 20px;
        margin: 10px 0;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .contact-content {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 1rem;
    }

    .contact-form-container,
    .contact-details {
        width: 90%;
    }

    .contact-form .form-controls,
    .contact-form .form-btn {
        width: 100%;
    }

    .footer-menu {
        padding: 1rem;
    }

    .footer-list-items {
        margin: 0;
    }
}
