/*index.css*/
/* Responsive CSS file styles defined for smaller width devices */
/* Responsive styles for tablet devices */
@media screen and (min-width: 576px) and (max-width: 820px) {
    .logo {
        padding: 0 2rem;
    }

    .hamburger {
        display: block;
        padding: 0 2rem;
    }

    .menu {
        position: absolute;
        right: 0;
        padding: 0 2rem;
        top: 75px;
        background-image: linear-gradient(180deg, #ae43ce, #ae43ce, #ae43ce);
        display: none;
        transition: all 0.25s;
    }

    .menu .menu-list {
        flex-direction: column;
    }

    .portfolio {
        padding: 0;
    }

    .about {
        flex-direction: column;
    }

    .about .about-text {
        padding: 1rem;
    }

    .about .about-image img {
        padding: 1rem;
    }

    .experience {
        padding: 0;
    }

    .experience-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .experience-item {
        flex: 1 1 calc(50% - 10px); /* Adjust to ensure two items per row with space between */
        box-sizing: border-box;
    }

    .projects-content {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .projects-content .my-col {
        flex: 1 1 calc(50% - 10px); /* Adjust to ensure two items per row with space between */
        box-sizing: border-box;
    }

    .my-row {
        gap: 10px;
    }

    .my-row .my-col {
        text-align: center;
        width: 100%;
    }
}

/* Responsive styles for mobile devices */
@media screen and (max-width: 576px) {
    .hero {
        display: flex;
        justify-content: center;
        color: #fff;
        background-image: radial-gradient(circle, rgba(15, 14, 14, 0.3), rgba(102, 96, 96, 0.4), rgba(163, 160, 160, 0.16)), url('./Images/heroImg3.avif');
        background-size: cover;
        background-position: center;
        text-align: center;
        padding: 1rem;
    }

    .sub-heading {
        color: #fff9f9cc;
    }

    .hero .intro-buttons {
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    .btn {
        padding: 10px 20px;
        font-size: 1rem;
    }

    .logo {
        padding: 0 1rem;
    }

    .menu {
        position: absolute;
        right: 0;
        padding: 0 1rem;
        top: 60px;
        background-image: linear-gradient(180deg, #35A99C, #53C8B6, #74D7BB);
        display: none;
        transition: all 0.25s;
    }

    .menu .menu-list {
        flex-direction: column;
        align-items: center;
    }

    .hamburger {
        display: block;
        padding: 0 1rem;
    }

    .portfolio {
        padding: 0;
    }

    .about {
        flex-direction: column;
        padding: 1rem;
    }

    .about .about-text {
        width: 100%;
        padding: 1rem;
        text-align: center;
    }

    .about .about-image img {
        width: 100%;
        padding: 1rem;
    }

    .experience {
        padding: 1rem;
    }

    .experience-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .experience-item {
        flex: 1 1 calc(50% - 10px); /* Adjust to ensure two items per row with space between */
        box-sizing: border-box;
    }

    .projects-content {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .projects-content .my-col {
        flex: 1 1 calc(50% - 10px); /* Adjust to ensure two items per row with space between */
        box-sizing: border-box;
    }

    .services {
        padding: 0;
    }

    .my-row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1rem 0;
        gap: 1rem;
    }

    .my-col {
        text-align: center;
        flex: 1 1 calc(50% - 10px); /* Adjust to ensure two items per row with space between */
        box-sizing: border-box;
    }

    .contact {
        padding: 0;
    }

    .contact-content {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .contact-form-container {
        width: 90%;
    }

    .contact-form .form-controls {
        width: 100%;
    }

    .contact-form .form-btn {
        width: 100%;
    }

    .contact-details {
        width: 90%;
    }

    .footer-menu {
        padding: 0 1rem;
    }

    .footer-list-items {
        margin: 0;
    }
}
